* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 html {
    height: 100%;
    max-width: 900px;
}
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/foodAndDrink.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.display {
    /* font-family: 'Zilla Slab Highlight', 'cursive'; */
    text-align: center;
}
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}
.splash-container {
    background-image: url('../images/foodAndDrink.jpg');
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;

}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    font-family: 'Zilla Slab Highlight', 'cursive';
    background-color: black;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    
    letter-spacing: 0.05em;
background-color: #a5a58d;
    color: black;
    font-weight: bold;

}
.content-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /* margin: 2em 0 1em; */
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .ribbon {
    background: #2d3e50;
    color: #aaa;
    width: 100%;
}
